* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
a {
    text-decoration: none;
}


/* font
===================================== */
/* .forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */


.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

}

/* header
====================================== */
.header {
    width: 100%;
    /* max-width: 1920px;     */
    background-color: #030303;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.header_content {
    width: 100%;
    max-width: 1440px;
    height: 150px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    width: 199px;
    display: flex;
    flex-direction: row;

}

.logo_img {
    width: 49px;
    height: 26px;
}

.logo_text {
    font-family: "Forum", serif;
    font-size: 28px;
    line-height: auto;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    margin-left: 25px;
    transition: color .1s linear;
}

.logo_text:hover {
    color: #9a8c3d;
}


.nav_list {
    height: 26px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.nav_item {
    margin-left: 55px;

}

.nav_item:first-child {
    margin-left: 0;
}

.nav_item_link {
    color: #fff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: auto;
    font-weight: 100;
    transition: color .1s linear;
}

.nav_item_link:hover {
    color: #9a8c3d;
}

/* welcome
===================================================== */

.welcome {
    width: 100%;
    /* max-width: 1920px;     */
    background-color: #030303;
    margin-top: 150px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.welcome_content {
    position: relative;
    height: 810px;
    display: flex;
    flex-direction: row;
    
    align-items: center;

}

.welcome_content_text {
    position: absolute;
    left: 0;
    top: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.welcome_title {
    width: 600px;
    font-family: "Forum", serif;
    font-weight: 400;
    color: #fff;
    font-size: 80px;
    letter-spacing: 5px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.welcome_subtitle {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 28px;
    margin-bottom: 70px;
}

.button {
    width: 360px;
    height: 75px;
    background-color: #710707;
    text-align: center;
    border: 1px solid #710707;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 22px;
    transition: background-color .1s linear, border .1s linear;
    
}

.button:hover {
    background-color: #9a8c3d;
    border: 1px solid #9a8c3d;
}

.welcome_content_img {
    position: absolute;
    right: 0;
    top: center;
}

.welcome_content_slider {
    min-width: 600px;
    position: absolute;
    bottom: -28px;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #030303;
    padding: 20px 50px;
}

.welcome_slider_num {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    margin-right: 10px;
   
}

.num_left, .num_right {
    padding: 10px;
}

.num_center {
    opacity: .7;
}

.welcome_slider_courusel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
        
}

.welcome_slider_courusel_square {
    margin-left: 40px;
    color: #fff;
    font-size: 50px;
    list-style-type: square;
    cursor: pointer;
    transition: color .1s linear;
}

.welcome_slider_courusel_square.active_square {
    color: #9a8c3d;
}

.welcome_slider_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow_right {
    transform: rotate(180deg);
}

.arrow_right, .arrow_left {
    cursor: pointer;
    padding: 0 10px;
}

/* virtual_tour
===================================================== */

.virtual_tour_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.virtual_tour_title {
    font-family: "Forum", serif;
    font-size: 80px;
    color: #9D8665;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: Uppercase;
    border-bottom: 3px solid #710707;
    padding-bottom: 20px;
    margin-top: 75px;
}

.virtual_tour_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 35px 0;
}

.card_item {
    width: 30.555%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 35px 0;
}

.card_item_img {
    margin-bottom: 10px;
    cursor: pointer;
}

.card_item_title {
    font-family: "Forum", serif;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #000;
    padding-bottom: 10px;
    margin: 5px 0;
    
}

.card_item_text_360 {
    min-width: 300px;
    border-top: 2px solid #710707;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #000;
    margin: 5px 0;
    padding-top: 10px;
    cursor: pointer;
}

.card_item:hover .card_item_text_360 {
    width: 100%;
    border-top: 3px solid #710707;
}

.card_item_text_view {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #000;
    margin: 5px 0;
    cursor: pointer;
}

/* explore
================================================= */

.explore {
    background-color: #030303;
}

.explore_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 75px 0;
}

.explore_content_text {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.explore_content_title {
    font-family: 'Forum', serif;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 25px;
    border-bottom: #710707 solid 3px;
    margin-bottom: 75px;
}

.explore_content_paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 22px;
    line-height: 1.75;
    color: #fff;
    margin-bottom: 25px;
}

.explore_content_img {
    position: relative;
    width: 50%;
}

.explore_slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.slider_line {
    transform: translateX(-50%);
}


/* video
====================================================== */

.video_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video_content_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 75px 0;
}

.video_content_title {
    width: 43%;
    font-family: 'Forum', serif;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 5px;
    color: #9D8665;
    text-transform: uppercase;

}

.video_content_paragraph {
    width: 50%;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 22px;
    line-height: 1.75;
    color: #000;
}

.video_content_player {
    width: 1440px;
    height: 650px;
}

.video_content_items {

    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.video_item {
    width: 32%;
    height: 250px;
    padding-right: 42px;
}

.video_item:last-child {
    padding-right: 0;
}

.video_content_slider {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 60px auto;
}

.video_slider_courusel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.video_slider_circle {
    color: #999999;
    font-size: 50px;
    margin: 0 10px 0 40px;
    cursor: pointer;
}

.video_slider_circle.active_circle {
    color: #333333;
}

.video_arrow_left {
    transform: rotate(180deg);
    padding-right: 30px;
    margin-right: 20px;
}

.video_arrow_left, .video_arrow_right {
    cursor: pointer;
}

/* gallery
========================================================== */

.gallery {
    background-color: #030303;
    padding-top: 75px;
}

.gallery_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.gallery_content_title {
    font-family: 'Forum', serif;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 5px;
    color: #fff;
    text-transform: uppercase;
}

.gallery_content_img {
    height: 2000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.gallery_img_item {
    width: 31%;
    margin-top: 24px;
}

.gallery_content_gradient {
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    height: 360px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

/* tickets
======================================================== */

.tickets {
    padding: 75px 0;
}

.tickets_content {
    display: flex;
    flex-direction: column;
}

.tickets_title {
    font-family: 'Forum', serif;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 5px;
    color: #9D8665;
    text-transform: uppercase;
    padding-bottom: 25px;
    border-bottom: 3px solid #710707;
}

.tickets_forms {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.ticket_form_items {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   align-items: flex-start;
}


.ticket_type_title, .amount_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #000;
    margin-bottom: 50px;
}

.ticket_type_form_item, .amount_form_item {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
}

.amount_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Basic, .Senior {
    margin-top: 15px;
    width: 150px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #000;
    padding-left: 45%;
}

.total {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #000;
    margin-top: 50px;
}

.button_buy_now {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #fff;
    padding: 14px 38px;
    margin-top: 60px;
    background-color: #000;
    border-radius: 3px;
}

/* parallax */
/* ============================================== */

.parallax {
    /* max-width: 1920px; */
    width: 100%;
    margin: 0 auto;
}

.parallax_img {
    width: 100%;
    object-fit: cover;
}


/* contacts
======================================================= */

.contacts {
    /* max-width: 1920px;   */
    padding: 75px 0;
}

.contacts_content {
    display: flex;
    flex-direction: column;

}

.contacts_title {
    font-family: 'Forum', serif;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 5px;
    color: #9D8665;
    text-transform: uppercase;
    padding-bottom: 25px;
    border-bottom: 3px solid #710707;
}

.contacts_material {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}


.contacts_material_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contacts_material_text_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #000;
    margin-bottom: 50px;
}

.contacts_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px; 
    
}

.contacts_item {
    margin-bottom: 25px;
    color: #000;
}

/* footer
=================================================== */

.footer {
    padding-top: 75px;
    background-color: #030303;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
    width: 47%;
}


.footer_nav {

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    list-style: none;
}

.footer_nav_item {
    margin-bottom: 25px;    
}

.footer_nav_item_link {
    color: #fff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: auto;
    font-weight: 100;
    transition: color .1s linear;

}

.footer_nav_item_link:hover {
    color: #9a8c3d;
}

.footer_social {
    width: 52%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 55px;
}

.footer_social_item {
    margin-left: 25px;
    padding: 10px 12px 9px;
    border: 1px solid #666666;
    border-radius: 50%;
    transition: background-color .1s linear;    
}

.footer_social_item img {
    width: 24px;
    height: 24px;
}

.footer_social_item:hover {
    background-color: #9a8c3d;
}

.last_string {
    border-top: 3px solid #666666;    
}

.last_string_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.last_string_wrap p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: auto;
    font-weight: 100;
    margin: 50px 0;

}
